# Stellar RPC endpoint (where to connect to the blockchain)
STELLAR_RPC_URL=https://soroban-testnet.stellar.org

# Rain API authentication
RAIN_API_KEY=
RAIN_API_URL=https://api-dev.raincards.xyz

# Collateral admin's secret key (Stellar format starting with S) - must have admin rights
COLLATERAL_ADMIN_SECRET=
