# Solana RPC endpoint (where to connect to the blockchain)
SOLANA_RPC_URL=https://api.devnet.solana.com

# Rain API authentication
RAIN_API_KEY=
RAIN_API_URL=https://api-dev.raincards.xyz

# Collateral owner's private key (Base58 encoded) - must be owner of single-signer collateral
OWNER_PK=
