# Solana RPC endpoint (where to connect to the blockchain)
SOLANA_RPC_URL=https://api.devnet.solana.com

# Rain API authentication
RAIN_API_KEY=your_rain_api_key_here

# Rain API url
RAIN_API_URL=https://api-dev.raincards.xyz

# Squads multisig member's private key (Base58 encoded) - must be a member of the multisig
MEMBER_PK=your_multisig_member_private_key_here

# Transaction fee payer's private key (Base58 encoded)
PAYER_PK=your_fee_payer_private_key_here
