# Solana RPC endpoint (where to connect to the blockchain)
SOLANA_RPC_URL=https://api.devnet.solana.com

# Rain API authentication
RAIN_API_KEY=your_rain_api_key_here

# Rain API url
RAIN_API_URL=https://api-dev.raincards.xyz

# Collateral owner's private key (Base58 encoded) - must be owner of single-signer collateral
OWNER_PK=your_collateral_owner_private_key_here
