# Solana RPC endpoint (where to connect to the blockchain)
SOLANA_RPC_URL=https://api.devnet.solana.com

# Rain API authentication
RAIN_API_KEY=
RAIN_API_URL=https://api-dev.raincards.xyz

# Collateral admin's private key (Base58 encoded) - must have admin rights
COLLATERAL_ADMIN_PK=
